In [2]:
# with normal function 

def kamal(a):
    return a * a
    

b = kamal(10) # calling function 
print(b)

100

In [3]:
## lambda function  single variable 
a = 10
b = lambda x : a * a
b(a)

100

## syntax for lambda function  # arguments and parameters both are same , expression and logic both are same 

lambda arguments : expression

In [9]:
# Multiple variables 
a = 1
b = 2
c = lambda x , y: a * b
c(a,b)

2

In [10]:
## print 2 table in python 2 * 1 = 2 till 2 * 10 = 20
## without lambda function 
n = int(input("Enter a Number for table = "))
for i in range(1,11): # i  = 1 to 10
    print(n ,'*',i , '=', n * i)

Enter a Number for table = 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
## with lambda function 
n = int(input("Enter a Number for table = "))
c = lambda x , y : n * i 
for i in range(1,11):
     print(n ,'*',i , '=', c(n , i))
print(c)